.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 700px;
    max-width: 1080px;
    min-height: calc(100vh - 60px);
    background-color: #fff;
    padding: 75px 40px 10px !important;

    .artist-header {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 10px;
      width: 100%;
      border-bottom: 1px solid $mediumGray;

      .name {
        color: $orange;
        margin-bottom: 15px;
      }

      .header-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $lightGray;
        color: $mediumGray;
        margin: 5px;
        border: 2px solid $mediumGray;
        border-radius: 3px;
        width: 100px;
        height: 35px;
        cursor: pointer;

        .play {
          font-weight: bold;
          letter-spacing: 1px;
        }

        .fa-play {
          display: none;
          color: $green;
        }

        &:hover {
          background: none;
          border: 2px solid $green;

          .play {
            display: none;
          }

          .fa-play {
            display: inline;
          }
        }
      }
    }

    .center-container {
      display: flex;
      width: 100%;
      margin-top: 30px;

      // ARTIST albums
      .artist-albums {
        width: 30%;
        min-width: 250px;

        .artist-albums-title {
          margin: 0 !important;
        }

        .grid-item {
          padding: 20px 0;

          span {
            cursor: pointer;

            img {
              max-width: 200px;
            }

            .grid-item-info {
              font-size: 15px;
              margin-top: 5px;
            }
          }
        }
      }

      // ARTIST tracks
      .tracks-container {
        display: flex;
        width: 70%;
        padding: 0;

        .track-list {
          width: 100%;
          padding: 0;
          min-width: 350px;

          h2 {
            padding: 0;
            margin-bottom: 10px;
          }

          .track-list-row {
            display: inline-grid;
            grid-template-columns: .5fr 4fr 1fr 1fr;
            width: 100%;
            list-style: none;
            padding: 10px 15px;

            &:hover {
              background: $lightGray;
              border: 1px solid $mediumGray;
              margin: -1px -1px 1px -1px;
              padding: 10px 15px 8px;

              .track-count .track-number {
                visibility: hidden;
              }

              .track-count .fa-play {
                visibility: visible;
              }

              .track-options {
                .fa-ellipsis-h {
                  visibility: visible;

                  &:hover ~ .options-menu {
                    display: flex;
                  }
                }
              }

              .track-length {
                padding-right: 13px;
              }
            }

            .track-count {
              font-size: 15px;
              padding-right: 10px;

              .fa-play {
                visibility: hidden;
                position: absolute;
                cursor: pointer;

                &:hover {
                  color: $orange;
                }
              }

              .track-number {
                color: $mediumGray;
                cursor: pointer;
              }
            }

            .track-info {
              display: flex;
              flex-direction: column;

              .track-name {
                font-size: 15px;
              }

              .album-name {
                font-size: 13px;
                color: $mediumGray;
                margin: 5px 0;
              }
            }

            .track-options {

              .fa-ellipsis-h {
                visibility: hidden;
                float: right;
                cursor: pointer;
              }
            }

            .track-length {
              display: flex;
              justify-content: flex-end;
              color: $mediumGray;
              font-size: 15px;
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
}
