.browse-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .browse-songs {
    width: 70%;
    min-width: 700px;
    min-height: calc(100vh - 60px);
    background-color: #fff;
    padding: 100px 0 0 40px;

    .song {
      display: inline-block;
      max-width: 200px;
      min-width: 150px;
      margin: 0 30px 30px 0;

      span {
        color: $darkGray;
        cursor: pointer;

        img {
          width: 100%;
        }

        .song-title {
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 1px;
          margin-top: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}
