.browse-container {
  display: flex;
  justify-content: center;
  width: 100%;
  // height: calc(100vh - 120px);
  padding-top: 60px;

  .browse-songs {
    width: 70%;
    // height: 100;
    display: flex;
    justify-content: flex-start;
    // align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff;

    .song {
      // display: inline-block;
      max-width: 200px;
      min-width: 150px;
      padding: 15px;

      span {
        color: $darkGray;
        cursor: pointer;

        img {
          width: 100%;
        }

        .song-title {
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 1px;
          margin-top: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}
