// used in:
// Album.js
// Artist.js
// SearchResults.js

.options-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  background: $darkGray;
  color: #fff;
  border: 1px solid $darkGray;
  z-index: 100;
  cursor: pointer;

  &:hover {
    display: flex;
  }

  .header {
    padding: 5px 10px;
    border-bottom: 1px solid $darkGray;
  }

  .remove-track {
    color: #fff;
    background: $red;
    padding: 10px 10px;
  }

  .clicked {
    animation: clicked 1s ease-out;
  }

  .playlist {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: $darkGray;
    background: #fff;
    padding: 10px 10px;

    &:hover {
      background: $lightGray;
    }
  }

  @keyframes clicked {
    0% {
      background-color: $green;
    }
    100% {
      background-color: none;
    }
  }
}
