.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  .search-results {
    width: 70%;
    min-width: 700px;
    max-width: 1080px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px 40px 10px;

    h2 {
      margin-top: 20px;
    }

    // Tracks
    .tracks-container {
      width: 100%;
      padding: 0;
      letter-spacing: 1px;

      .track-list {
        width: 100%;
        padding-bottom: 30px;

        h2 {
          color: #282828;
          border-bottom: 1px solid #282828;
          margin: 40px 0 20px;
          padding: 5px 0;
        }

        .no-search-results {
          padding: 0 15px;
        }

        .track-list-row {
          display: inline-grid;
          grid-template-columns: .5fr 4fr 1fr 1fr;
          width: 100%;
          list-style: none;
          padding: 10px 15px;

          &:hover {
            background: $lightGray;
            border: 1px solid $mediumGray;
            margin: -1px -1px 1px -1px;
            padding: 10px 15px 8px;

            .track-count .track-number {
              visibility: hidden;
            }

            .track-count .fa-play {
              visibility: visible;
            }

            .track-options {
              .fa-ellipsis-h {
                visibility: visible;
              }
            }

            .track-length {
              padding-right: 13px;
            }
          }

          .track-count {
            font-size: 15px;
            padding-right: 10px;

            .fa-play {
              visibility: hidden;
              position: absolute;
              cursor: pointer;

              &:hover {
                color: $orange;
              }
            }

            .track-number {
              color: #909090;
              cursor: pointer;
            }
          }

          .track-info {
            display: flex;
            flex-direction: column;

            .track-name {
              font-size: 15px;
            }

            .artist-name {
              font-size: 13px;
              color: #909090;
              margin: 5px 0;
            }
          }

          .track-options {
            .fa-ellipsis-h {
              visibility: hidden;
              float: right;
              cursor: pointer;

              &:hover ~ .options-menu {
                display: flex;
              }
            }
          }

          .track-length {
            display: flex;
            justify-content: flex-end;
            color: $mediumGray;
            font-size: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    // Artists
    .artist-results {
      width: 100%;
      padding-bottom: 30px;
      letter-spacing: 1px;

      .artist {
        width: 100%;

        h2 {
          color: #282828;
          border-bottom: 1px solid #282828;
          margin: 40px 0 20px;
          padding: 5px 0;
        }

        .no-search-results {
          padding: 0 15px;
        }

        .artist-result-row {
          padding: 10px 15px;
          cursor: pointer;

          &:hover {
            background: #f2f2f2;
          }

          .artist-info {
            .artist-name {
              color: #000;
            }

            .album-track-count {
              font-size: 13px;
              color: #909090;
              padding: 5px 0 0 0;
            }
          }
        }
      }
    }

    // Albums
    .album-results {
      width: 100%;
      padding-bottom: 30px;
      letter-spacing: 1px;

      h2 {
        color: #282828;
        border-bottom: 1px solid #282828;
        margin: 40px 0 20px;
        padding: 5px 0;
      }

      .no-search-results {
        padding: 0 15px;
      }

      .albums {
        display: flex;
        flex-wrap: wrap;

        .grid-item {
          display: inline-block;
          max-width: 200px;
          min-width: 150px;
          padding: 10px 15px 20px;

          span {
            color: #000;
            cursor: pointer;

            img {
              width: 100%;
            }

            .grid-item-info {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;

              .album-title {
                font-size: 14px;
              }

              .album-artist {
                font-size: 12px;
                color: #909090;
              }
            }
          }
        }
      }
    }
  }
}
