* {
  padding: 0;
  margin: 0;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 50px;
  background: $bgBlue;
  min-height: 100vh;
  min-width: 700px;
}

a {
  text-decoration: inherit;
  outline: none !important;
  color: inherit;
}
